extends layout

block content
  h1 Build #{build}
  
  .status
    | Build is #{state.status}.
  
  if state.scope
    .scope
      Selected options:
      ul
        each run in state.scope
          li= run
  
  pre.output
    = state.output
