extends layout

block content
  h1= title
  p What shall we test today?
  
  form(method='post', action='/pr')
    label(for='pr') Pull request:
    input(type='text', name='pr')
    
    p
      label
        input(type='checkbox', name='run[nodb]')
        | no db
      label
        input(type='checkbox', name='run[postgres]')
        | postgresql
      label
        input(type='checkbox', name='run[mysql]')
        | mysql
      label
        input(type='checkbox', name='run[mysqli]')
        | mysqli
      label
        input(type='checkbox', name='run[sqlite]')
        | sqlite
    
    p
      label
        input(type='checkbox', name='run[unit]')
        | unit
      label
        input(type='checkbox', name='run[functional]')
        | functional
      label
        input(type='checkbox', name='run[slow]')
        | slow
    
    p
      label
        input(type='checkbox', name='run[update30]')
        | update from 3.0
      label
        input(type='checkbox', name='run[check]')
        | commit check
      label
        input(type='checkbox', name='run[merge31]')
        | merge into develop

  if build_ids.length > 0
    h2 Recent builds
    
    ul
      for build_id in build_ids
        li
          a(href="/status/#{build_id}")= build_id
